pelican==4.5.0
markdown==3.1.1
pelican-sitemap==1.1.0
soupsieve==2.0
beautifulsoup4==4.9.3
ezt==1.1
PyYAML==6.0.2
certifi==2024.7.4
idna==3.7
charset-normalizer==2.0.4
urllib3==2.6.3
requests==2.32.4
