#
# Licensed to the Apache Software Foundation (ASF) under one
# or more contributor license agreements.  See the NOTICE file
# distributed with this work for additional information
# regarding copyright ownership.  The ASF licenses this file
# to you under the Apache License, Version 2.0 (the
# "License"); you may not use this file except in compliance
# with the License.  You may obtain a copy of the License at
#
#   http://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing,
# software distributed under the License is distributed on an
# "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
# KIND, either express or implied.  See the License for the
# specific language governing permissions and limitations
# under the License.
#
pelican==4.11.0.post0
markdown==3.10.2
pelican-sitemap==1.2.2
soupsieve==2.8.3
beautifulsoup4==4.14.3
ezt==1.1
PyYAML==6.0.3
certifi==2026.2.25
idna==3.11
charset-normalizer==3.4.7
urllib3==2.6.3
requests==2.33.1
