#
# Licensed to the Apache Software Foundation (ASF) under one
# or more contributor license agreements.  See the NOTICE file
# distributed with this work for additional information
# regarding copyright ownership.  The ASF licenses this file
# to you under the Apache License, Version 2.0 (the
# "License"); you may not use this file except in compliance
# with the License.  You may obtain a copy of the License at
#
#   http://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing,
# software distributed under the License is distributed on an
# "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
# KIND, either express or implied.  See the License for the
# specific language governing permissions and limitations
# under the License.
#
name: Remove Expired Refs
on:
  schedule:
    - cron: "4 2 * * *"

  pull_request:
    paths:
      - ".github/workflows/remove_expired.yml"

  workflow_dispatch:

permissions: {}

jobs:
  clean_up:
    runs-on: ubuntu-latest
    steps:

      - uses: actions/checkout@v6
        with:
          persist-credentials: true
          # Use PAT so the commit triggers other actions
          token: ${{ secrets.ALLOWLIST_WORKFLOW_TOKEN || github.token }}

      - run: pip install ruyaml

      - name: Clean actions.yml
        shell: python
        run: |
          import sys
          sys.path.append("./gateway/")

          import gateway as g
          g.clean_actions("actions.yml")
          g.update_patterns("approved_patterns.yml", "actions.yml")

      - name: Commit and push changes
        if: ${{ github.event_name != 'pull_request' }}
        run: |
          git config --local user.name "asfgit"
          git config --local user.email "asfgit@users.noreply.github.com"
          git add -f actions.yml approved_patterns.yml
          git commit -m "Remove Expired Refs" -m "Generated by .github/workflows/remove_expired.yml" || echo "No changes"
          git push origin
